body {
    background-color: #394648;
}
#content {
    max-width: 600px;
    margin: auto;
    background-color: #69995D;
    color:#F8E9E9;
    border-radius: 16px;
    border-style: outset ;
    border-color: #CBAC88;
}

h1 {
    text-align: center;
}
#upnav {
    text-align: center;
}
a {
	padding: 8px 15px;
    border-width: 3px;
    background-color: cadetblue;
}
a:active {
    color:#394648;
    font-weight: 600;
    background-color: #CBAC88;
}
a:visited {
    color:#F8E9E9;
    background-color:#394648;
}
a:hover {
    color: #394648;
    text-decoration: overline underline;
    background-color:#EDB6A3;
}

p {
    margin: 20px;
    font-family: 'Brush Script MT';
}

#image {
    text-align: center;
}

img{
    width: auto;
}

#table {
    margin-top: 30px;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-color:rgb(165, 207, 178);
}
td, th{
    padding: 10px;
}
th {
    color:#394648 ;
    background-color: #EDB6A3;
}
td {
    background-color: #CBAC88;
}

li {
    margin: 20px 15px;
    list-style-type: none;
    line-height: 100%;
}

footer {
    text-align: center;
}