body {
    background-color: rgb(58, 58, 23);
}
#content {
    max-width: 600px;
    margin: auto;
    background-color: darkolivegreen;
    color:azure;
    border-radius: 16px;
    border-style: outset ;
    border-color: chartreuse;
}

h1 {
    text-align: center;
}
#upnav {
    text-align: center;
}
a {
	padding: 8px 15px;
    border-width: 3px;
    border-color: rgb(210, 199, 221);
    background-color: cadetblue;
}
a:active {
    color:chocolate;
    font-weight: 600;
    background-color: cadetblue;
}
a:visited {
    color:cornsilk;
    background-color:darkslateblue;
}
a:hover {
    color: azure;
    text-decoration: overline underline;
    background-color:darkblue;
}

p {
    margin: 20px;
    font-family: 'Brush Script MT';
}

#image {
    text-align: center;
}

img{
    width: auto;
}

#table {
    margin-top: 30px;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-color:rgb(165, 207, 178);
}
td, th{
    padding: 10px;
}

li {
    margin: 20px 15px;
    list-style-type: none;
    line-height: 100%;
}

footer {
    text-align: center;
}